## Testing feature engineering code from others' notebooks

Particularly https://www.kaggle.com/code/hardyxu52/simplified-3rd-place-solution-rohlik-sales/notebook

Feature engineering part 4 (with the last sales ewm 005)

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
DIRECTORY = './data/'
calendar = pd.read_csv(DIRECTORY + 'calendar.csv', parse_dates=['date'])
inventory = pd.read_csv(DIRECTORY + 'inventory.csv')
test = pd.read_csv(DIRECTORY + 'sales_test.csv', parse_dates=['date'])
train = pd.read_csv(DIRECTORY + 'sales_train.csv', parse_dates=['date'])
solution = pd.read_csv(DIRECTORY + 'solution.csv')
test_weights = pd.read_csv(DIRECTORY + 'test_weights.csv')

In [22]:
train = train.sort_values(by='date')
train['last_sales_ema005'] = train.groupby(['unique_id'])['sales'].transform(lambda x: x.shift(1).ewm(alpha=0.005).mean()).fillna(0)

In [23]:
train[train['unique_id'] == 1][['sales', 'last_sales_ema005', 'warehouse', 'date']]

          sales  last_sales_ema005    warehouse       date
3887826    8.49           0.000000  Frankfurt_1 2022-06-13
3887833    8.25           8.490000  Frankfurt_1 2022-06-14
3887927   16.93           8.369699  Frankfurt_1 2022-06-15
3887930   80.68          11.237448  Frankfurt_1 2022-06-16
3887931   87.17          28.728834  Frankfurt_1 2022-06-17
...         ...                ...          ...        ...
3887814   93.87          99.602420  Frankfurt_1 2024-05-29
3887921  141.62          99.554997  Frankfurt_1 2024-05-30
3887901  236.32          99.901859  Frankfurt_1 2024-05-31
3887809  143.30         101.023103  Frankfurt_1 2024-06-01
3887831  206.75         101.369469  Frankfurt_1 2024-06-02

[189 rows x 4 columns]

In [12]:
train[train['unique_id'] == 1]['sales'].ewm(alpha=0.005).mean()

3887826      8.490000
3887833      8.369699
3887927     11.237448
3887930     28.728834
3887931     40.534536
              ...
3887814     99.554997
3887921     99.901859
3887901    101.023103
3887809    101.369469
3887831    102.230083
Name: sales, Length: 189, dtype: float64